javascript:
  function submitConfig(cb) {
    var configs = [];
    configs.push({
      sensor: 'climate',
      measurement: "temperature",
      value: $('input[name="temperature"]').val(),
      test: 'lt',
      actions: { relay: 'off' }
    });

    configs.push({
      sensor: 'climate',
      measurement: "temperature",
      value: $('input[name="temperature"]').val(),
      test: 'gt',
      actions: { relay: 'on' }
    });

    configs.push({
      sensor: 'climate',
      measurement: "humidity",
      value: $('input[name="humidity"]').val(),
      test: 'lt',
      actions: { servo1: 0.4 }
    });

    configs.push({
      sensor: 'climate',
      measurement: "humidity",
      value: $('input[name="humidity"]').val(),
      test: 'gt',
      actions: { servo1: 0 }
    });

    configResults = configs.map(function(config) {
      return $.ajax({
        url: '/api/config',
        method: 'put',
        data: config
      });
    });

    $.when.apply($, configResults).then(cb);
  }

  $(function() {
    $('input[name="temperature"]').on('change', function(event){
      $('.temperature_value').text(event.target.value + '°');
    });

    $('input[name="humidity"]').on('change', function(event){
      $('.humidity_value').text(event.target.value + '%');
    });

    $('#go').on('click', function() {
      submitConfig(function() { window.location.href = '/go'; });
    });
  });

form
  div.controls
    div.temperature
      img[src="/Configure_Assets/HUMIDITY ICON.png"]
      p Temperature
      input[type="range" placeholder="temperature" name="temperature" min="10" max="35" step="1" value="20"]
      p.temperature_value 20°

    div.humidity
      img[src="/Configure_Assets/Temperature icon.png"]
      p Humidity
      input[type="range" placeholder="humidity" name="humidity" min="0" max="100" step="1" value="90"]
      p.humidity_value 90%

img.progress[src="/scroller3.png"]
a.button.next_button#go(href='#') OK
