javascript:
  function submitConfig() {
    var configs = [];
    configs.push({
      sensor: 'climate',
      measurement: "temperature",
      value: $('input[name="temperature"]').val(),
      test: 'lt',
      actions: { relay: 'off' }
    });

    configs.push({
      sensor: 'climate',
      measurement: "temperature",
      value: $('input[name="temperature"]').val(),
      test: 'gt',
      actions: { relay: 'on' }
    });

    configs.push({
      sensor: 'climate',
      measurement: "humidity",
      value: $('input[name="humidity"]').val(),
      test: 'lt',
      actions: { servo1: 1 }
    });

    configs.push({
      sensor: 'climate',
      measurement: "humidity",
      value: $('input[name="humidity"]').val(),
      test: 'gt',
      actions: { servo1: 0 }
    });

    configs.forEach(function(config) {
      $.ajax({
        url: '/api/config',
        method: 'put',
        data: config
      });
    });
  }

  $(function() {
    $('input[name="temperature"]').on('change', function(event){
      $('span.temperature').text(event.target.value);
      submitConfig();
    });

    $('input[name="humidity"]').on('change', function(event){
      $('span.humidity').text(event.target.value);
      submitConfig();
    });
  });

form
  div.controls
    div
      label Temperature
      span.temperature 20
      br
      span 10
      input[type="range" placeholder="temperature" name="temperature" min="10" max="35" step="1" value="20"]
      span 35

    div
      label Humidity
      span.humidity 90
      br
      span 0
      input[type="range" placeholder="humidity" name="humidity" min="0" max="100" step="1" value="90"]
      span 100

a(href='/go') Start using your Hume!
