javascript:
  $(function() {
    $('#activate').on('click', function() {
      $.ajax({
        url: "/api/activate/",
        method: "PUT"
      }).then(function() {
        window.location.href = "/status"
      });
    });
  });

h1 Go!
a#activate.btn href="#" Energize!
