javascript:
  $(function() {
    $('#activate').on('click', function() {
      $.ajax({
        url: "/api/activate/",
        method: "PUT"
      }).then(function() {
        $("#activate").html('Energized!')
      });
    });
  });

h1 Install
a#activate.btn href="#" Energize!
