javascript:
  $(function() {
    $('#activate').on('click', function() {
      $.ajax({
        url: "/api/activate/",
        method: "PUT"
      }).then(function() {
        window.location.href = "/status"
      });
    });
  });

h1 Install

a[href="#"]
  img.setup_video[src="/Install_Assets/Install video.png"]

p Please follow the instructions shown in the video to assemble this kit of parts.

img.progress[src="/scroller4.png"]
a#activate.btn.button.next_button href="#" Go
