doctype html

html
  head
    script[src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"]
    javascript:
      $(function() {
        $('form').on('submit', function(event) {
          event.stopPropagation();
          event.preventDefault();

          var multiplier = 1, configs = [];
          ['lt', 'gt'].forEach(function(test) {
            configs.push({
              sensor: 'climate',
              measurement: "temperature",
              value: $('input[name="temperature"]').val(),
              test: test,
              actions: { servo1: 90 * multiplier }
            });

            multiplier = multiplier * -1;
          });

          ['lt', 'gt'].forEach(function(test) {
            configs.push({
              sensor: 'climate',
              measurement: "humidity",
              value: $('input[name="humidity"]').val(),
              test: test,
              actions: { servo2: 90 * multiplier }
            })

            multiplier = multiplier * -1;
          });

          configs.forEach(function(config) {
            $.ajax({
              url: '/api/config',
              method: 'put',
              data: config
            });
          });
        });
      });

  body
    form
      input[type="text" placeholder="temperature" name="temperature"]
      input[type="text" placeholder="humidity" name="humidity"]
      button OK
