doctype html

html
  head
    link[href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css']
    script[src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"]
    css:
      * {
        font-family: 'Lato', sans-serif;
        text-align: center;
        box-sizing: border-box;
      }
      html, body {
        margin: 0;
        padding: 0;
      }
      textarea, input {
        outline: none;
      }
      li {
        text-align: left;
      }
      p {
        font-family: 'Lato';
        font-weight: 300;
        padding: 0 10px;
      }
      h1 {
        font-family: 'Lato';
        font-weight: 300;
      }
      button, .button {
        background-image: url('Top Bar.png');
        color: white;
        text-decoration: none;
        padding: 10px;
        outline: 0;
        border: 0;
        margin: 10px;
        border-radius: 4px;
      }
      .next_button {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .test_button {
        display: block;
        color: black;
        width: 240px;
        background-image: none;
        background-color: #eee;
        padding: 10px 0;
        margin: 10px auto;
      }
      .test_button img {
        display: block;
        margin: auto;
      }
      .test_button.fan img {
        width: 77px;
        height: 77px;
      }
      .test_button.humidifier img {
        width: 47px;
        height: 68px;
      }
      header {
        background-image: url('Top Bar.png');
        padding: 1px;
        color: white;
      }
      sub {
        font-size: 0.7em;
      }
      div.logo {
        background-image: url('logo_2.png');
        background-size: 85px 30px;
        background-repeat: no-repeat;
        width: 85px;
        height: 30px;
        margin: 10px auto;
      }
      div.controls {
        margin-bottom: 20px;
        width: 100%;
      }
      div.controls div {
        padding: 4px;
        background-color: #eee;
        max-width: 240px;
        margin: 10px auto 0 auto;
        border-radius: 4px;
      }
      div.controls img {
        display: block;
        width: 30px;
        height: 30px;
        margin: 20px auto 0 auto;
      }
      img {
        width: 100%;
      }
      .setup_video {
        width: 100%;
      }
      input[type='range'] {
        -webkit-appearance: none;
        background-color: #eee;
        width: 200px;
        height: 20px;
      }
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-image: url("/Configure_Assets/Humidty slider/slider circle 2.png");
        background-size: 8px 8px;
        width: 8px;
        height: 8px;
      }
      .temperature input[type='range'] {
        background-image: url("/Configure_Assets/Temperature SLider/temp_Slider_top.png");
        background-size: 200px 20px;
      }
      .humidity input[type='range'] {
        background-image: url("/Configure_Assets/Humidty slider/humidity_Slider_top.png");
        background-size: 200px 20px;
      }
      .humidity_value, .temperature_value {
        font-weight: bold;
        font-size: 1.3em;
        margin-top: 0;
      }
      img.progress {
        position: fixed;
        bottom: 66px;
        left: 0;
        right: 0;
        width: 73px;
        height: 12px;
        margin: auto;
      }

  body
    header
      a[href="/"]
        div.logo
    == yield
