h1 Assemble

a[href="#"]
  img.setup_video[src="/Assemble_Assets/ASSEMBLE VIDEO.png"]

p Follow the instructions shown in the video to assemble the kit of parts.

img.progress[src="/scroller.png"]
a.button.next_button[href="/test"] OK
