javascript:
  // onclick fan
  $(function() {
    $('.button.fan').on('click', function(event){
      $.ajax({
        url: '/api/test',
        method: 'put',
        data: {controls:['relay']}
      });
    });
  });

  //onclick humidifier
  $(function() {
    $('.button.humidifier').on('click', function(event){
      $.ajax({
        url: '/api/test',
        method: 'put',
        data: {controls:['servo1']}
      });
    });
  });

h1 Test Your Hume

a.button.test_button.fan[href="#"]
  img[src="/FAN.png"]
  span Test Fan

a.button.test_button.humidifier[href="#"]
  img[src="/Test_Assets/humidifer.png"]
  span Test Humidifier
br

a.button[href="/configure"] Configure your Hume
