javascript:
  // onclick fan
  $(function() {
    $('button.fan').on('click', function(event){
      $.ajax({
        url: '/api/test',
        method: 'put',
        data: {controls:['relay']}
      });
    });
  });

  //onclick humidifier
  $(function() {
    $('button.humidifier').on('click', function(event){
      $.ajax({
        url: '/api/test',
        method: 'put',
        data: {controls:['servo1']}
      });
    });
  });

h1 Test Your Hume
button.fan Test Fan
button.humidifier Test Humidifier

p Next:
a[href="/configure"] Configure your Hume
